<!DOCTYPE html>
<html lang=en>
<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <script>if (GetQueryString('type') === 'login') {
        location.href = 'https://www.lzjrys.store/wechat/login?state=' + encodeURIComponent(window.location.href.split('?')[0])
    }

    function GetQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if (r != null)
            return decodeURI(r[2]);
        return null;
    }</script>
    <meta name=viewport content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <link rel=icon href={$__PUBLIC__}/img/favicon.ico>
    <link rel=stylesheet href={$__PUBLIC__}/css/guodanpi/index.css>
    <script src=http://g.tbcdn.cn/mtb/lib-flexible/0.3.4/??flexible_css.js,flexible.js></script>
    <title>guodanpi</title>
    <link href={$__PUBLIC__}/css/guodanpi/app.a63dc857.css rel=preload as=style>
    <link href={$__PUBLIC__}/css/guodanpi/chunk-vendors.358de8bd.css rel=preload as=style>
    <link href={$__PUBLIC__}/js/guodanpi/app.94d16363.js rel=preload as=script>
    <link href={$__PUBLIC__}/js/guodanpi/chunk-vendors.4fa4cbcb.js rel=preload as=script>
    <link href={$__PUBLIC__}/css/guodanpi/chunk-vendors.358de8bd.css rel=stylesheet>
    <link href={$__PUBLIC__}/css/guodanpi/app.a63dc857.css rel=stylesheet>
</head>
<body class=list-page>
<noscript><strong>We're sorry but guodanpi doesn't work properly without JavaScript enabled. Please enable it to
    continue.</strong></noscript>
<div id=app></div>
<script src={$__PUBLIC__}/js/guodanpi/chunk-vendors.4fa4cbcb.js></script>
<script src={$__PUBLIC__}/js/guodanpi/app.94d16363.js></script>
</body>
</html>