<!DOCTYPE html>
<html lang=en>
<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <link rel=icon href={$__PUBLIC__}/img/favicon.ico>
    <title>crm</title>
    <link rel=stylesheet href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel=stylesheet href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css">
    <link rel=stylesheet href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel=stylesheet href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css">
    <link href="{$__PUBLIC__}/css/admin/chunk-vendors.ae603b24.css" rel=preload as=style>
    <link href="{$__PUBLIC__}/js/admin/app.4b6945b9.js" rel=preload as=script>
    <link href="{$__PUBLIC__}/js/admin/chunk-vendors.b1e4a624.js" rel=preload as=script>
    <link href="{$__PUBLIC__}/css/admin/chunk-vendors.ae603b24.css" rel=stylesheet>
</head>
<body>
<noscript><strong>We're sorry but crm doesn't work properly without JavaScript enabled. Please enable it to
    continue.</strong></noscript>
<div id=app></div>
<script src="{$__PUBLIC__}/js/admin/chunk-vendors.b1e4a624.js"></script>
<script src="{$__PUBLIC__}/js/admin/app.4b6945b9.js"></script>
</body>
</html>